@page
@model bcity_assessment.Pages.Client.Client
@{
    ViewData["Title"] = "Clients page";
}

<div>
    @if (@Model.Clients.Count != 0)
    {
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Client Code</th>
            </tr>
            </thead>
            @foreach (var item in @Model.Clients)
            {
                <p>@item.ClientCode</p>

                <tr>
                    <td>@item.</td>
                    <td>@item.ClientCode</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No Clients to Show</p>
    }

    <p>Demo Content</p>
</div>