@page
@model bcity_assessment.Pages.Client.Client
@{
    ViewData["Title"] = "Clients page";
}

<div class="container" style="display: flex; justify-content: space-around">
    <div>
        @if (@Model.Clients.Count != 0)
        {
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Client Code</th>
                    <th scope="col">Number of Contacts</th>
                </tr>
                </thead>
                @foreach (var item in @Model.Clients)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.ClientCode</td>
                        <td style="text-align: center;">
                            <a asp-page="/Client/LinkClient">@item.Contacts.Count</a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No Client(s) found</p>
        }
    </div>
    
    <div>
        <a class="btn btn-light" asp-page="/Client/CreateClient" >Add +</a>
    </div>
</div>
